.page-template-default .content-area {
	float: left;
	margin: 0 (-$size__site-sidebar) 0 0;
	width: $size__site-main;
}

.page-template-default .site-main {
	margin: 0 $size__site-sidebar 0 0;
}

.page-template-default .site-content .widget-area {
	float: right;
	overflow: hidden;
	width: $size__site-sidebar;
	padding-left: 0.5em;
	margin-top: 0.5em;
	border-left-width: 0.2em;
	border-color: #e4e4e4;
	border-left-style: solid;
}

.page-template-default .site-footer {
	clear: both;
	width: $size__site-main;
}