.page-template-default .content-area {
	float: right;
	margin: 0 0 0 (-$size__site-sidebar);
	width: $size__site-main;
}

.page-template-default .site-main {
	margin: 0 0 0 $size__site-sidebar;
}

.page-template-default .site-content .widget-area {
	float: left;
	overflow: hidden;
	width: $size__site-sidebar;
}

.page-template-default .site-footer {
	clear: both;
	width: $size__site-main;
}
