@import "buttons";

@import "fields";

.search-form {
    position:relative
}

.home-search {
    padding:20px 0;
    margin-bottom:15px;
    text-align:center
}

.home-search:before,.home-search:after {
    content:" ";
    display:table
}

.home-search:after {
    clear:both
}

.home-search .search-form {
    width:895px;
    margin-left:auto;
    margin-right:auto
}

#header-widget-bar .search-form {
    position:relative;
    float:left;
    width:280px;
    height:45px;
    margin:10px 0 0 25px
}

